.titulo-producto{
	border:groove;
	border-radius:10px;
	padding-bottom:8px;
	padding-top:5px;
}

.descripcion-producto{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	border:inset;
	border-radius:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.presentacion-producto{
	padding-top:20px;
	width:200px;
	max-height:350px;
}

.contenedor-15 {
	margin-left:auto;
	margin-right:auto;
	width:15%;
}

.contenedor-50 {
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.contenedor-55 {
	width:55%;
	margin-left:auto;
	margin-right:auto;
}

.contenedor-60 {
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

.contenedor-80 {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.contenedor-login {
	width: 318px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.divisor-perfil {
	border:1px solid;
	border-radius:10px;
	margin-bottom:30px;
	padding-top:20px;
	padding-bottom:20px;
}

.contenedor-abm {
	margin-bottom: 20px;
	border:groove;
	border-radius:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:30px
}

.img-carrito {
	width:50px;
	height:50px
}