<?xml version="1.0"?>

<configuration>
  <appSettings>
    <!-- <add key="Conexion" value="DRIVER=SQL Server;SERVER=a-srv-bdinst;DATABASE=orterce;UID=orterce;pwd=orterce2017"/> -->
    <!-- <add key="Conexion" value="Driver={ODBC Driver 11 for SQL Server};server=(localdb)\orterce;database=orterce;trusted_connection=Yes;"/> -->
    <!-- <add key="Conexion" value="DRIVER={MySQL ODBC 5.1 Driver};Server=localhost;Database=orterce;User=root;Password=matiascosta2828;Option=3;"/> -->
    <add key="Conexion" value="DSN=orterce;Uid=root;Pwd=matiascosta2828;"/>
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer> 
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
</configuration>
